.sponsor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--bg-color);
  margin-block: auto;
  height: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .plan-info {
    max-width: 400px;

    h2 {
      color: var(--brown);
      font-size: 1.8rem;
    }

    p {
      color: var(--black);
      margin: 10px 0;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        color: var(--brown);
        margin: 5px 0;
      }
    }
  }

  .benefits-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .benefit-card {
    display: flex;
    align-items: center;
    background: var(--yellow-light); /* Fondo suave amarillo */
    padding: 12px;
    border-radius: 10px;
    gap: 10px;
    font-size: 15px;
    color: var(--brown); /* Texto marrón para contraste */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .benefit-card:hover {
    background: var(--yellow); /* Color más intenso al pasar el mouse */
    transform: scale(1.05);
  }

  .benefit-card span {
    font-size: 18px;
    color: var(--purple-dark); /* Color de realce */
  }

  .separator {
    width: 25rem;
    height: 2px;
    background: var(--gray);
    margin: 10px 0;

    @media (min-width: 768px) {
      width: 2px;
      height: 20rem;
      margin: 0 20px;
    }
  }

  .payment-section {
    max-width: 400px;
    text-align: center;

    p {
      color: var(--black);
      margin: 10px 0;
    }

    .payment-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .price {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--red);
      }

      .sponsor-button {
        background-color: var(--purple-dark);
        color: var(--white);
        padding: 10px 15px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background-color: var(--purple);
        }
      }
    }
  }
}
