.contactFormContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  .contactForm {
    background-color: var(--gray);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 1rem;

    label {
      display: block;
      font-weight: bold;
      text-align: left;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 2px solid var(--brown);
      border-radius: 5px;
      font-size: 1rem;
      margin-bottom: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: var(--yellow);
        outline: none;
      }
    }

    textarea {
      min-height: 100px;
      resize: none;
    }

    .contactSubmit {
      width: 100%;
      background-color: var(--yellow);
      color: var(--black);
      font-size: 1rem;
      font-weight: bold;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
      border: none;

      &:hover {
        background-color: var(--yellow-light);
      }
    }
  }
}

.statusMessage {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 8px;
  color: var(--black);
}

.statusMessage.success {
  color: #155724;
}

.statusMessage.error {
  color: #721c24;
}
