:root {
  --bg-color: #fff4e3;
  --brown: #795548;
}

.beehives-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  h2 {
    padding-top: 3rem;
  }

  .modal {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 4rem 2rem;
    border-radius: 1rem;

    h3 {
      margin-bottom: 1rem;
    }

    .image-wrapper {
      position: relative;
      padding-top: 1rem;
      display: inline-block;
      margin: 10px;
      width: 10rem;
    }

    .delete-img-btn {
      position: absolute;
      top: 5px;
      right: -10px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      border-radius: 10rem;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .delete-img-btn:hover {
      background: rgba(0, 0, 0, 0.7);
    }

    .beehive-image {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 5px;
    }

    input {
      border-color: var(--brown);
      padding: 1rem 0;
      background-color: var(--bg-color);
      border-radius: 0.5rem;
    }

    textarea {
      padding-top: 1rem;
      background-color: transparent;
      border-radius: 0.5rem;
    }

    .buttonsModal {
      display: flex;
      padding-top: 2rem;
      gap: 2rem;
      justify-content: center;
    }

    .save-btn,
    .cancel-btn {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      background-color: var(--brown);
      color: white;
      border: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }

  .preview-image {
    width: 10rem;
    object-fit: cover;
  }

  .category-table {
    width: 80%;
    border-top: 2px solid #baa9a9;
    border-collapse: collapse;
    background-color: var(--bg-color);

    img {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  th {
    color: white;
    padding: 0.5rem 2rem;
    background-color: var(--brown);
  }

  .idTh {
    border-radius: 1rem 0 0 0;
  }

  .actionTh {
    border-radius: 0 1rem 0 0;
  }

  .add-category-btn {
    background-color: var(--brown);
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    color: white;
    border: none;
  }

  .edit-btn {
    color: white;
    border: none;
    background-color: transparent;

    img {
      width: 3rem;
      object-fit: cover;
      height: 3rem;
    }
  }

  .delete-btn {
    background-color: transparent;
    border: none;

    img {
      width: 3rem;
      object-fit: cover;
      height: 3rem;
    }
  }
}
