.orderGroup {
  text-align: left;
  background: var(--white);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &.pending-order {
    border: 2px solid var(--yellow);
  }

  .orderGroupTitle {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .arrow {
      font-size: 1.5rem;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  .orderDate {
    font-size: 1rem;
    color: var(--brown);
    font-weight: bold;
  }

  .orderCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .orderImage {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 6px;
    }

    .orderDetails {
      flex-grow: 1;
    }

    .orderStatusWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .orderActions {
      display: flex;
      gap: 1rem;

      .confirmar {
        background-color: #4caf50;
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #45a049;
        }
      }

      .cancelar {
        background-color: #f44336;
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }

    .orderStatus {
      font-size: 1rem;
      font-weight: normal;
      display: flex;
      align-items: center;
      gap: 5px;

      &::before {
        content: '●';
        font-size: 1.2rem;
      }

      &.pending {
        color: rgb(193, 158, 0);

        &::before {
          color: rgb(193, 158, 0);
        }
      }

      &.completed {
        color: green;

        &::before {
          color: green;
        }
      }

      &.canceled {
        color: red;

        &::before {
          color: red;
        }
      }
    }
  }
}
