header {
  padding-inline: clamp(1rem, 5vw, 5rem);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    height: 6rem;

    .logo {
      width: 4rem;
      cursor: pointer;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 2rem;

      ul {
        gap: clamp(1rem, 4vw, 4rem);
      }

      @media (max-width: 1000px) {
        display: none;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      li {
        list-style: none;

        img {
          width: 2rem;
        }

        .profile-img {
          border-radius: 10rem;
        }

        .hamburger {
          cursor: pointer;
        }
      }

      @media (min-width: 1000px) {
        .hamburger {
          display: none;
        }
      }
    }

    .profile-img {
      position: relative;

      img {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        object-fit: cover;
      }

      .user-menu {
        position: absolute;
        top: 1.5rem;
        right: 0;
        background-color: var(--bg-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        min-width: 12rem;
        border-radius: 0.5rem;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: flex-start;

        .separator {
          height: 1px;
          width: 100%;
          background-color: var(--gray);
        }
      }
    }

    .cart-container {
      position: relative;

      .cart-quantity {
        position: absolute;
        top: 1rem;
        left: -0.8rem;
        background-color: var(--purple);
        color: var(--bg-color);
        border-radius: 50%;
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }

    .mobile-menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 60%;
      height: 100vh;
      background-color: var(--bg-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 1000;

      @media (min-width: 1000px) {
        display: none;
      }

      &.open {
        transform: translateX(0);
      }

      .close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }

      .panal-icon {
        position: absolute;
        bottom: -6rem;
        right: -6rem;
        cursor: pointer;
        width: 20rem;
        opacity: 0.7;
      }

      ul {
        flex-direction: column;
        gap: 1rem;
      }
    }

    .active {
      color: var(--brown);
      border-bottom: 2px solid var(--yellow);
    }
  }
}

.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    margin-top: 1rem;
  }

  .mobile-menu .language-switcher {
    position: static;
  }
}

.lang-toggle-switch {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 110px;
  line-height: 35px;
  color: #fff;
  border-radius: 50px;
  background: var(--bg-color);
  margin: 5px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 40px;
  padding-right: 20px;
}

.lang-toggle-switch span.lang-toggle-circle {
  display: block;
  color: #fff;
  position: absolute;
  top: 1px;
  left: 3px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  transition: all 0.5s;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.lang-toggle-switch span.lang-toggle-label,
.lang-toggle-switch span.lang-toggle-hover {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
}

.lang-toggle-switch span.lang-toggle-label {
  right: 15px;
  opacity: 1;
}

.lang-toggle-switch span.lang-toggle-hover {
  left: 15px;
  opacity: 0;
}

.lang-toggle-switch:hover span.lang-toggle-circle {
  left: 100%;
  margin-left: -35px;
  background: var(--bg-color);
}

.lang-toggle-switch:hover span.lang-toggle-label {
  opacity: 0;
}

.lang-toggle-switch:hover span.lang-toggle-hover {
  opacity: 1;
  color: #fff;
}

.lang-toggle-switch.es {
  border: 2px solid #d6b400;
}
.lang-toggle-switch.es:hover,
.lang-toggle-switch.es span.lang-toggle-circle {
  background: #d6b400;
}
.lang-toggle-switch.es:hover span.lang-toggle-circle,
.lang-toggle-switch.es span.lang-toggle-label {
  color: #d6b400;
}

.lang-toggle-switch.en {
  border: 2px solid #9a6e3a;
}
.lang-toggle-switch.en:hover,
.lang-toggle-switch.en span.lang-toggle-circle {
  background: #9a6e3a;
}
.lang-toggle-switch.en:hover span.lang-toggle-circle,
.lang-toggle-switch.en span.lang-toggle-label {
  color: #9a6e3a;
}
